<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/fontawesome.min.css' />
  </head>
  <body>
    <main>
      <div class="feed">
        <h3>Newest users</h3>
        <% for (let user of twitterUsers.sort((a, b) => b.createdAt - a.createdAt).slice(0, 10)) { %>
          <div class="user">
            <div class="id">
              <a href="<%= user.driveUrl %>" title="@<%= user.username %>"><%= user.username %></a>
              <button class="add-contact" data-url="<%= user.driveUrl %>">Add to Address Book</button>
            </div>
            <div class="details">
              Verified <a href="https://twitter.com/<%= user.username %>"><span class="fab fa-twitter"></span><%= user.username %></a>
            </div>
          </div>

        <% } %>
      </div>
      <div>
        <h1><%= title %></h1>
        <h3><%= twitterUsers.length %> users registered</h3>
        <% if (user) { %>
          <p>
            <strong>You are signed in as <a href="https://twitter.com/<%= user.username %>" title="@<%= user.username %>"><span class="fab fa-twitter"></span><%= user.username %></a>.</strong>
            <span class="actions">
              <button class="cta set-profile"><%= userRecord && userRecord.driveUrl ? 'Change' : 'Add' %> Your Listing</button>
              <button class="remove-profile">Remove</button>
            </span>
          </p>
          <form method="post" action="/">
            <input type="hidden" name="driveUrl" value="<%= (form ? form.driveUrl : user.driveUrl) || '' %>">
          </form>
          <% if (message) { %>
            <div class="message <%= message.type %>"><%= message.text %></div>
          <% } %>
        <% } else { %>
          <p><a class="cta" href="/login/twitter" title="Sign in via Twitter">Sign in via Twitter</a> to add your profile drive to this listing.</p>
          <% if (message) { %>
            <div class="message <%= message.type %>"><%= message.text %></div>
          <% } %>
        <% } %>
        <input class="search" type="text" placeholder="Search the directory">
        <div class="users">
          <% for (let user of twitterUsers) { %>
            <div class="user">
              <div class="id">
                <a href="<%= user.driveUrl %>" title="@<%= user.username %>"><%= user.username %></a>
                <button class="add-contact" data-url="<%= user.driveUrl %>">Add to Address Book</button>
              </div>
              <div class="details">
                Verified <a href="https://twitter.com/<%= user.username %>"><span class="fab fa-twitter"></span><%= user.username %></a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </main>
  </body>
  <script type="text/javascript">
  document.querySelector('.search').addEventListener('keyup', function (e) {
    var query = (e.currentTarget.value || '').trim().toLowerCase()
    for (let user of Array.from(document.querySelectorAll('.user'))) {
      if (user.textContent.toLowerCase().includes(query)) {
        user.classList.remove('hidden')
      } else {
        user.classList.add('hidden')
      }
    }
  })
  document.querySelector('.users').addEventListener('click', function (e) {
    if (e.target.classList.contains('add-contact')) {
      beaker.contacts.requestAddContact(e.target.dataset.url)
    }
  })
  try {
    document.querySelector('.set-profile').addEventListener('click', async function (e) {
      e.preventDefault()
      var form = document.querySelector('form')
      form.querySelector('input').value = (await beaker.contacts.requestProfile()).url
      form.submit()
    })
    document.querySelector('.remove-profile').addEventListener('click', function (e) {
      e.preventDefault()
      var xhr = new XMLHttpRequest();
      xhr.open('DELETE', "/", true);
      xhr.onreadystatechange = function() {
        if (this.readyState == 4) {
          alert(this.responseText);
          location.reload()
        };//end onreadystate
      }
      xhr.send();
    })
  } catch (e){}
  </script>
</html>
